<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polidea.cockpit">

    <application>
        <provider
            android:authorities="${applicationId}.CockpitInitProvider"
            android:name=".utils.CockpitInitProvider"
            android:exported="false"/>
        <activity android:name="com.polidea.cockpit.activity.CockpitActivity"/>
    </application>
</manifest>