<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polidea.androidtweaks">

    <application android:name=".TweaksApplication">
        <activity android:name="com.polidea.androidtweaks.activity.TweaksActivity"/>
    </application>
</manifest>